body {
    margin-top: 10px;
}

#main-navigation {
    height: 50px;
    background: #000;
    font-size: 2.2em;
    font-family: Arial;
}

#main-navigation a {
    color: #fff;
    text-decoration: none;
    line-height: 2em;
    padding-bottom: 5px;
    margin-right: 0.5em;
}

#main-navigation a:hover, #main-navigation a.active {
    border-bottom: 4px solid #fff;
}

#main-navigation ul {
    margin: 0;
    padding: 0;
    padding-left: 1em;
    list-style-type: none;
}

#main-navigation ul li {
    display: inline-block;
}

#secondary-navigation {
    background: url('../images/transparent_banner.png');
    font-size: 1.4em;
    font-family: Arial;
    height: 50px;
}

#secondary-navigation a {
    display: block;
    color: #fff;
    text-decoration: none;
    line-height: 3em;
    margin-right: 0.5em;
}

#secondary-navigation a:hover, #secondary-navigation a.active {
    text-decoration: underline;
}

#secondary-navigation ul {
    margin: 0;
    padding: 0;
    padding-left: 1.8em;
    list-style-type: none;
    display: none;
}

#secondary-navigation ul.active {
    display: block;
}

#secondary-navigation ul li {
    display: inline-block;
}

#header-image {
    background: url('../images/banner.png') no-repeat bottom;
    height: 250px;
}

#content-container {
    margin-top: 2em;
}

h1,h2 {
    height: 1.4em;
    font-size: 2.5em;
    line-height: 1.4em;
    border-left: 0.7em solid #004569;
    padding-left: 0.5em;
    background: #f0f6f9;
    margin-bottom: 0;
}

h3 {
    height: 1.4em;
    font-size: 1.2em;
    line-height: 1.4em;
    border-left: 0.7em solid #004569;
    padding-left: 0.5em;
    background: #f0f6f9;
    margin: 0.5em 0;
}

.secondary-content {
    width: 190px;
    float: left; margin-right: 10px;
}

div.meta
{
    margin-top: 1em;
    margin-bottom: 3em;
}
/* Formatting */

.meta ul
{
    list-style: none;
    margin: 0px;
    padding-left: 0em;
    padding-bottom: 0.5em;
    display: inline;
    color: #cccccc;
    font-size: 10pt;
}
.archive-month .tags
{
    color: #bbbbbb;
}

.meta a, .archive-month .tags a
{
    color: #bbbbbb;
    border-bottom: dotted 1px #bbbbbb;
}

.meta a:hover
{
    text-decoration: none;
}

.meta ul li
{
    display: inline;
}

.meta ul li:after
{
    content: " | ";
}

.meta ul li:last-child:after
{
    content: "";
}