          <div class="span-3">
            <div class="last-updated">
              Last updated<br/><span class="date"><%= format_post_date(post.published_at) %></span>
            </div>
            <div class="comment-count">
              <%= link_to(pluralize(post.approved_comments.size, "comment"), post_path(post, :anchor => 'comments')) %>
            </div>
          </div>
          
          <div class="span-21 last post-body">
            <h2><%= link_to(h(post.title), post_path(post)) %></h2>
            <%= post.body_html.untaint %>
          </div>
